
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/************************************************************************DESCUENTO***********************************************/
.descuento{
    background: #000000;
    width: 100%;

}

.descuento p{
    color: #FFFFFF;
    padding: 10px 0px;
    margin: 0px 31.5px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

.descuento span{
    position: relative;
    display: grid;
    justify-content: center;
    font-size: 14px;

}

/**********************************************************************ENCABEZADO**************************************************/
header{
    width: 100%;
    height: 90px;
    background: white;
    position: relative;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 20px 50px; */
    color: black;
}


.imagen-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.imagen-logo img{
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-canasta a:hover{
    color: #000000;
}

.icono-lupa a:hover{
    color: #000000;
}

/*********************************************************************NAVEGADOR********************************************/
nav{
    position: static;
    width: 100%;
    background: #ffffff;
    height: 35px;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;

}
li {
    color:#000000 ;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;


}

ul li a{
    text-decoration: none;
}

ul li a:hover{
    color: #000000;
    border-bottom: #000000;
}

/*********************************************************************SECCIóN*******************************************/
section{
    margin-top: 25px;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(nike5.jpg);
    height: 455px;
}
section{
    background-size: 100% ;
  
}


.banner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    right: 350px;
    top: 260px;
    height: 100px;
    width: 40%; 
    
    
    
}

.banner__h2{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
   
}

.banner__span{
    text-align: center;
    font-family: 'Assistant', sans-serif;
    
}
