body{
    font-family: 'Croissant One', cursive;
}

table{
    border-collapse: collapse;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-image: url("../imagenes/win.png");
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

th,td{
    border-style: ridge;
    padding: 15px;
}

tr>th{
    background-color:#C0C0C0;
}

tbody>tr:hover{
    background-color:#FF4500;
}