body{
    font-size: 30px;
    font-family: 'M PLUS Code Latin', sans-serif;
    margin: 0px;
}

div{
    border-style:solid;
    border-color: aqua;
    border-width: 1px;
    width: 50%;
}

.caja2{
    border-color: green;
    border-width: 5px;
}

#caja3{
    border: gold solid 10px;
}

#caja4{
    background-color: greenyellow;
    color: white;
}
